<!DOCTYPE html>
<html>
<head>
    <title>Live Camera</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/live-camera.css">
</head>
<body>
    <div class="back-button-container">
        <button class="back-button" onclick="window.location.href='/dashboard'">Go Back to Dashboard</button>
    </div>
    <div class="camera-container">
        <img id="video" src="/video" alt="Live Camera">
    </div>
    <div class="capture-button-container">
        <button class="capture-button" onclick="captureImage()">Capture Image</button>
    </div>

    <script src="/static/js/live-camera.js"></script>

</body>
</html>